{% extends 'service/base.html' %}

{% block title %}
    Список кофеен
{% endblock %}

{% block content %}
<h1 class="mb-3 text-center">Список кофеен</h1>

{% for house in coffee_houses %}
<div class="alert alert-info" role="alert">
    <h2>{{ house.name }}</h2>
    <p class="fs-5">{{ house.description }}</p>
    <p class="text-body-tertiary">{{ house.work_time }}</p>
    <div class="d-flex flex-row">
        <a class="text-dark btn btn-outline-warning" href="{% url 'cafe:coffee_house_details' coffee_house_slug=house.slug %}">Подробнее</a>
    </div>
</div>
{% endfor %}
{% endblock %}